@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Londrina+Sketch);
@import url(http://fonts.googleapis.com/css?family=Flavors);
@import url(http://fonts.googleapis.com/css?family=Akronim);
@import url(http://fonts.googleapis.com/css?family=Almendra+Display);
@import url(http://fonts.googleapis.com/css?family=Fontdiner+Swanky);

html, body {
    width: 100%;
    height: 100%;

    font-family: 'Poiret One', sans-serif;
    font-size: 16pt;
}

section {
    background: #224;
    box-shadow: 0 0 5px #000;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 80%;
    padding: 5em 5em;
    overflow: hidden;
}

h1 {
    font-family: 'Londrina Sketch', cursive;
    font-size: 400%;
    text-align: center;
    text-shadow: 0px 0px 3px #000;
}

h2 {
    background: rgba(0, 0, 0, 0.1);
    margin: 0 -100%;
    padding: 0 100%;

    font-family: 'Fontdiner Swanky', cursive;
    font-family: 'Almendra Display', cursive;
    font-family: 'Akronim', cursive;
    font-family: 'Righteous', cursive;
    font-size: 200%;
    font-weight: 900;
    text-shadow: 0px 0px 2px #000;
}

h3 {
    font-family: 'Fontdiner Swanky', cursive;
    font-family: 'Almendra Display', cursive;
    font-family: 'Akronim', cursive;
    font-size: 150%;
    font-weight: 100;
    text-shadow: 0px 0px 1px #000;
}

h4 {
    font-family: 'Fontdiner Swanky', cursive;
    font-family: 'Almendra Display', cursive;
    font-size: 100%;
}

li {
    list-style: none;
    &:before {
        content: "❧";
        float: left;

        padding-right: 1ex;
        padding-top: 1ex;
        font-size: 70%;
    }

    li:before {
        content: "∙";
    }
}

strong {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-weight: 900;
    padding: 0 3pt;
}

em {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 0 3pt 0 2pt;
}

/**
 * Site header
 */
.site-header {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 100%;
    position: fixed;
    padding: 0;

    transition: 0.2s all;

    nav {
        position: relative;

        a {
            display: inline-block;
            line-height: 56px;
            padding: 0 10px;

            & + div {
                display: none;
                float: right;
                width: 100%;
                margin-top: -1ex;
                padding-bottom: 1ex;

                font-size: smaller;

                opacity: 0;
                transition: .2s opacity;
            }
            &:hover + div {
                display: block;
                opacity: 1;
            }
        }
    }
}

.page-edit {
    position: absolute;
    top: 1ex;
    right: 0;
    padding-right: inherit;
}

.page-back {
    position: absolute;
    top: 1ex;
    left: 0;
    padding-left: inherit;
}

.intro {
    background: url("../assets/intro.jpg");
    background-size: cover;

    padding: 0;

    h1 {
        position: absolute;
        width: 100%;
        top: 1em;
        padding: 0;
        margin: 0;

        text-align: center;
        font-family: 'Fontdiner Swanky', cursive;
        font-family: 'Almendra Display', cursive;
        font-family: 'Akronim', cursive;
        font-family: 'Righteous', cursive;
        font-family: 'Londrina Sketch', cursive;
        font-family: 'Flavors', cursive;
        font-size: 500%;

        a, & {
            color: #FFF;
            text-shadow: 0px 0px 1px #000, 0px 0px 5px #000, 0px 0px 5px #000;
        }
    }

    &.small {
        min-height: 0;
        height: 250px;

        h1 {
            background: transparent;
        }
    }
}

.members {
    ul {
        margin: 0;
        padding: 0;

        list-item: none;
        text-align: center;

        li {
            background-position: center top 25%;
            background-color: #255;

            display: inline-block;
            position: relative;
            width: 300px;
            height: 300px;
            margin: 50px;

            border-radius: 150px;
            box-shadow: 0 0 3px #000;
            border: 1px solid rgba(255, 255, 255, 0.1);

            &:before {
                display: none;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 150px;

                transition: 0.3s;

                &:hover {
                    box-shadow: 0 0 50px #699;

                    div {
                        opacity: 1;
                    }

                    h2 {
                        font-size: 250%;
                    }
                    h4 {
                        opacity: 1;
                    }
                }
            }

            h2 {
                background: transparent;

                position: absolute;
                bottom: 50px;
                left: 30%;
                padding: 0;
                margin: 0;

                line-height: 1em;

                transition: 0.2s all;
            }
            h3 {
                background: transparent;

                position: absolute;
                left: 30%;
                top: 250px;
                
                white-space: nowrap;

                line-height: 1em;
            }
            h4 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: 0;
                margin: 0;
                z-index: 1;
            }
            div {
                background: #255;
                border: 1px solid rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 2px #000;
                border-radius: 5px;

                position: absolute;
                width: 80%;
                left: 10%;
                bottom: 220px;
                padding: 1ex;
                box-sizing: border-box;

                transition: 0.3s opacity;
                text-shadow: none !important;
                opacity: 0;
            }
        }
    }
}

.site-nav {
    text-align: right;

    .menu-icon {
        display: none;
    }

    .page-link, .site-link {
        color: $text-color;
    }
    .site-link {
        float: left;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $text-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}




/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
