<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div id="iscroll">
            <div>
                {% include header.html %}

                {{ content }}

                {% include footer.html %}
            </div>
    </div>

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}/js/jquery-mustache.js"></script>
        <script src="{{ site.baseurl }}/js/mustache.js"></script>
        <script src="{{ "/js/plugins.js?" | append: site.resource_version | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/main.js?" | append: site.resource_version | prepend: site.baseurl }}"></script>
        {% for script in page.scripts %}
        <script src="{{ {{ script }}? | append: site.resource_version | prepend: site.baseurl }}"></script>
        {% endfor %} 
    </body>

</html>
