---
layout: default
---

<section class="intro {% unless page.big-intro %}small{% endunless %} {{ page.class }}">
    <div class="iscroll slow3">
        <div class="background"></div>
    </div>
    <div class="iscroll slow4">
        <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    </div>
</section>

<section class="page {{ page.class }}">
    {% if page.editable or page.editable == null %}
        <h4 class="page-edit"><a href="http://prose.io/#lhunath/friends.fail/edit/gh-pages/{{ page.path }}">[edit]</a></h4>
    {% endif %}

    {% if page.back %}
        <h4 class="page-back"><a href="{{ page.back }}">Back</a></h4>
    {% endif %}
    {% if page.title %}
        <h1 class="post-title">{{ page.title }}</h1>
    {% endif %}

    {{ content }}
</section>
