---
layout: default
---

<section class="intro {% unless page.big-intro %}small{% endunless %}">

    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

</section>

<section class="{{ page.class }}">
    {% if page.editable or page.editable == null %}
        <h4 class="page-edit"><a href="http://prose.io/#lhunath/friends.fail/edit/gh-pages/{{ page.path }}">[edit]</a></h4>
    {% endif %}

    {% if page.back %}
        <h4 class="page-back"><a href="{{ page.back }}">Back</a></h4>
    {% endif %}
    {% if page.title %}
        <h1 class="post-title">{{ page.title }}</h1>
    {% endif %}

    {{ content }}
</section>
