---
layout: default
---

<section class="intro small">

    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

</section>

<section class="{{ page.class }}">
    <h4 class="page-edit"><a href="https://github.com/lhunath/friends.fail/edit/gh-pages/{{ page.path }}">[edit]</a></h4>

    {% if page.back %}
        <h4 class="page-back"><a href="{{ page.back }}">Back</a></h4>
    {% endif %}
    {% if page.title %}
        <h1 class="post-title">{{ page.title }}</h1>
    {% endif %}

    {{ content }}
</section>
